.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-ligth:hover {
    background-color: #c28008;
    border-color: #c28008;
}

#nav a {
    color:#757575
}

#nav a:hover {
    color: #757575;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}